# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# =========================
# Virtual Environments
# =========================
venv/
.env/
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor Files
# =========================
.DS_Store
.idea/
.vscode/

# =========================
# Scrapy Artifacts
# =========================
.scrapy/

# =========================
# Secrets / Local Config
# =========================
ip.txt
proxies.txt
*.proxy
*.key
*.pem
